.env/
.~env/
.python/
*.pyc
*.swp
*.swo
.*.s*
*.cpp
*.so
*.so.1
*.sqlite
.ropeproject/
*.o
*.log
version.cc
version.pl
predict
train
*.dvi
*.pdf
*.aux
*.html
Profile.prof
_paths.py
tests/model/*
tests/model/
*.orig
.coverage
.cache/
.hypothesis/
*.pyo
tmp/
*.pickle
*.dat
.eggs/
.pytest_cache/
