trigger:
  batch: true
  branches:
    include:
    - '*'

jobs:
- job: 'Test'
  variables:
    NOTEBOOK_KERNEL: "thinc-notebook-tests"
  strategy:
    matrix:
      Python36Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.6'
      Python36Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.6'
      Python36Mac:
        imageName: 'macos-10.15'
        python.version: '3.6'
      Python38Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.8'
      Python38Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.8'
      Python38Mac:
        imageName: 'macos-10.15'
        python.version: '3.8'
    maxParallel: 4
  pool:
    vmImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: 'Install dependencies'

  - script: |
      python setup.py build_ext --inplace
      python setup.py sdist --formats=gztar
    displayName: 'Build sdist'

  - script: python -m mypy thinc
    displayName: 'Run mypy'

  - task: DeleteFiles@1
    inputs:
      contents: 'thinc'
    displayName: 'Delete source directory'

  - bash: |
      SDIST=$(python -c "import os;print(os.listdir('./dist')[-1])" 2>&1)
      pip install dist/$SDIST
    displayName: 'Install from sdist'

  - script: 'sudo apt-get -yq install graphviz'
    displayName: 'Install graphviz (Linux)'
    condition: and(succeeded(), eq(variables['Agent.OS'], 'Linux'))

  - script: 'brew install graphviz'
    displayName: 'Install graphviz (MacOS)'
    condition: and(succeeded(), eq(variables['Agent.OS'], 'Darwin'))
    
  - script: |
      pip install tensorflow
      pip install "mxnet; sys_platform != 'win32'"
      pip install torch -f https://download.pytorch.org/whl/torch_stable.html
      pip install jax jaxlib 
      pip install ipykernel pydot graphviz 
      python -m ipykernel install --name thinc-notebook-tests --user
      python -m pytest --pyargs thinc --cov=thinc --cov-report=xml -k "test_ipython_notebooks"
    displayName: 'Run tests'

  - bash: bash <(curl -s https://codecov.io/bash)
    displayName: 'Upload to codecov.io'
