trigger:
  batch: true
  branches:
    include:
    - '*'
  paths:
    exclude:
    - 'website/*'
    - '*.md'
pr:
  paths:
    exclude:
    - 'website/*'
    - '*.md'

jobs:
- job: 'Test'
  variables:
    NOTEBOOK_KERNEL: "thinc-notebook-tests"
  strategy:
    matrix:
      Python36Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.6'
      Python36Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.6'
      Python36Mac:
        imageName: 'macos-10.15'
        python.version: '3.6'
      Python38Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.8'
      Python38Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.8'
      Python38Mac:
        imageName: 'macos-10.15'
        python.version: '3.8'
      Python39Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.9'
      Python39Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.9'
      Python39Mac:
        imageName: 'macos-10.15'
        python.version: '3.9'
    maxParallel: 4
  pool:
    vmImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip setuptools
      pip install -r requirements.txt
    displayName: 'Install dependencies'

  - script: |
      python setup.py build_ext --inplace
      python setup.py sdist --formats=gztar
    displayName: 'Build sdist'

  - script: python -m mypy thinc
    displayName: 'Run mypy'

  - task: DeleteFiles@1
    inputs:
      contents: 'thinc'
    displayName: 'Delete source directory'

  - script: |
      pip freeze > installed.txt
      pip uninstall -y -r installed.txt
    displayName: 'Uninstall all packages'

  - bash: |
      pip freeze > installed.txt
      pip uninstall -y -r installed.txt
      SDIST=$(python -c "import os;print(os.listdir('./dist')[-1])" 2>&1)
      pip install dist/$SDIST
    displayName: 'Install from sdist'

  - script: |
      pip install -r requirements.txt
      pip install tensorflow
      pip install "mxnet; sys_platform != 'win32'"
      pip install "torch==1.6.0+cpu" -f https://download.pytorch.org/whl/torch_stable.html
      pip install ipykernel pydot graphviz
      python -m ipykernel install --name thinc-notebook-tests --user
      python -m pytest --pyargs thinc --cov=thinc --cov-report=xml
    displayName: 'Run tests'

  - bash: bash <(curl -s https://codecov.io/bash)
    displayName: 'Upload to codecov.io'
