recursive-include thinc *.cu *.pyx *.pxd *.hh
include LICENSE
include README.md
prune tmp/
include thinc/tests/mypy/configs/*.ini
include thinc/tests/mypy/outputs/*.txt
include thinc/py.typed
recursive-exclude thinc *.cpp
