# Explosion-provided test dependencies
ml-datasets>=0.2.0,<1
# Development dependencies
hypothesis>=3.27.0,<7
pytest>=5.2.0,!=7.1.0
pytest-cov>=2.7.0
coverage>=5.0.0
cython>=3.0,<4.0  # Cython is a test dependency
# Executing notebook tests
ipykernel>=5.1.4
pydot
graphviz
nbconvert>=5.6.1
nbformat>=5.0.4
# Test to_disk/from_disk against pathlib.Path subclasses
pathy>=0.3.5
# Linters
flake8==5.0.4
mypy>=1.5.0,<1.6.0; platform_machine != "aarch64"
black>=22.0,<23.0
isort>=5.0,<6.0
