# Explosion-provided dependencies
murmurhash>=0.28.0,<1.1.0
cymem>=2.0.2,<2.1.0
preshed>=2.0.1,<2.1.0
blis>=0.2.1,<0.3.0
srsly>=0.0.6,<1.1.0
wasabi>=0.0.9,<1.1.0
# Third-party dependencies
numpy>=1.7.0
plac>=0.9.6,<1.0.0
tqdm>=4.10.0,<5.0.0
pathlib==1.0.1; python_version < "3.4"
# Development dependencies
cython>=0.25.0
hypothesis>=2.0.0,<3.0.0
pytest>=4.0.0,<4.1.0
mock>=2.0.0,<3.0.0
flake8>=3.5.0,<3.6.0
