cython>=0.25
numpy>=1.7
murmurhash>=0.28,<0.29
cymem>=1.30,<1.32.0
preshed>=1.0.0,<2.0.0
pytest
hypothesis>=2,<3
tqdm>=4.10.0,<5.0.0
blis==0.0.13
cytoolz
plac
six
mock
termcolor
wrapt
dill
pathlib>=1.0.0,<2.0.0
msgpack-python
msgpack-numpy
